[Unit]
Description=SSH Per-Connection Server

[Service]
ExecStartPre=/usr/sbin/sshd-gen-keys-start
ExecStart=-/usr/sbin/sshd -i -e
ExecReload=/bin/kill -HUP $MAINPID
StandardInput=socket
StandardError=journal

[Install]
WantedBy=network.target
